{% extends "base.html" %} 
{% load crispy_forms_tags %} 
{% block content %}

<div class="container dj-form-container">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <div class="card">
        <div class="card-body p-4">
          <h1 class="text-center mb-4">
            <!-- if statement checks if the form instance has a primary key (pk) to determine if it's an edit or create form
             in order to display the correct heading -->
            {% if form.instance.pk %} 
                Edit DJ Profile 
            {% else %} 
                Create DJ Profile 
            {% endif %}
          </h1>
          <!-- enctype="multipart/form-data" is required for image uploads -->
          <form method="POST" enctype="multipart/form-data">
            <!-- CSRF token for security -->
            {% csrf_token %}
            <!-- Render the DJ profile form using Django Crispy Forms -->
            {{ form|crispy }}
            <div class="text-center mt-4">
              <button type="submit" class="btn btn-primary">
                <!-- if statement checks if the form instance has a primary key (pk) to determine if it's an edit or create form
                 in order to display the correct button text -->
                {% if form.instance.pk %}
                    Update DJ Profile 
                {% else %}
                    Create DJ Profile 
                {% endif %}
                {% if form.instance.pk %}
                    Update DJ Profile 
                {% else %}
                    Create DJ Profile 
                {% endif %}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
