{% extends "base.html" %}

{% block content %}

<div class="container py-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>Create Event</h1>
            <!-- enctype="multipart/form-data" is required for file uploads (images) -->
            <form method="POST" enctype="multipart/form-data">
                <!-- CSRF token for security to prevent cross-site request forgery attacks -->
                {% csrf_token %}
                <!-- Render all form fields automatically, with each field wrapped in a 
                 <p> tag USING Django's form.as_p method -->
                {{ form.as_p }}

                <button type="submit" class="btn btn-primary">
                    Create Event
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}